

<div class="Main">
   <!--- local temp gauge animation -->
  <div #meteo class="Gauge"></div>
  <mat-divider class="divider"/>
  <!--- rows with weather icon and text -->
  <div *ngIf="currentCity === 'Milano'" class="row">
    <mat-icon fontIcon="air"></mat-icon>
    <span>23 km/h</span>
    <span>Milano </span>
    <span class="material-symbols-rounded">rainy</span>
    <span>61%</span>
  </div>
  <div *ngIf="currentCity === 'Athens' || currentCity == ''" class="row">
    <mat-icon fontIcon="air"></mat-icon>
    <span>12 km/h</span>
    <span>Athens </span>
    <span class="material-symbols-rounded">clear_day</span>
    <span>48%</span>
  </div>
  <mat-divider class="divider"/>
</div>
